{% extends 'base.html' %}
{% block search %}{% endblock %}
{% block content %}
    <h1>Se connecter</h1>
    <form method='POST' class="form"> {% csrf_token %}
        <div class="inputForm">{{login_form}}</div>
        <div style="display: flex; flex-direction: column; align-items: center; margin-bottom:15px">
            <input type='submit' value='Se connecter' class="updateBtn" style="margin-bottom:10px" />
            <a href="{% url 'inscription' %}">Pas de compte ?</a>
        </div>
    <form>
{% endblock %}