.navbar {
  height: 70px;
  width: 100%;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  z-index: 1000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightList {
  margin-right: 20px;
}
.rightList > a {
  color: black;
}
.leftList {
  margin-left: 20px;
}

.adButton {
  height: 20px;
  background-color: #ff6e14;
  color: white;
  padding: 10px;
  margin: 0px 10px 0px 30px;
  border-radius: 2px;
}

.adIcon {
  border: 3px solid white;
  padding: 0px 3px 0px 3px;
  border-radius: 2px;
}

.mainBtn {
  font-size: 25px;
  color: #ff6e14;
}

.dropbtn {
  background-color: white;
  border: none;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ff6e14;
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  border-bottom: 3px solid black;
}
