html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Open Sans, sans-serif, Arial;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  min-height: auto;
}

a {
  text-decoration: none;
}
