{% extends 'base.html' %}
{% block search %}{% endblock %}
{% block content %}
    <h1>Inscription</h1>
    <form method='POST' class="form"> {% csrf_token %}
        <div class="inputForm">{{registration_form}}</div>
        <div style="display: flex; flex-direction: column; align-items: center; margin-bottom:15px">
            <input type='submit' value="S'inscrire" class="updateBtn" style="margin-bottom:10px" />
            <a href="{% url 'login' %}">J'ai un compte</a>
        </div>
{% endblock %}