{% extends 'base.html' %}
{% block css %}
    {% load static %}
    <link
      href="{% static 'user/css/profil.css' %}"
      rel="stylesheet"
      media="screen"
    />
{% endblock %}
{% block content %}
    <div class="profilContainer profilBackground" >
        <img src="{% static 'user/img/user_avatar.png' %}" width="150px" height="150px" style="border-radius: 50%; display: block; margin: 30px auto" />
        <p class="name">{{request.user.username}}<p>
        <div style="padding: 20px" >
            <h4>Email</h4>
            <p>{{request.user.email}}<p>
            <h4>Téléphone</h4>
            <p>{{request.user.phone}}<p>
            <h4>Date de naissance</h4>
            {% if request.user.date_of_birth == None %}
                <p>Aucune date de naissance<p>
            {% else %}
                <p>{{request.user.date_of_birth}}<p>
            {% endif %}
        </div>
        <a class="updateBtn" href="{% url 'update_profil' %}">+</a>
    </div>
{% endblock %}