.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px auto 50px auto;
  width: 500px;
  min-height: 400px;
  box-shadow: 0 0px 5px 0 black;
}

.inputForm {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.inputForm > input[type='email'],
.inputForm > input[type='text'],
.inputForm > input[type='number'],
.inputForm > input[type='password'],
.inputForm > select {
  height: 40px;
  max-width: 300px;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: rgb(230, 228, 228);
  border: none;
  box-shadow: inset 0px 2px 3px grey;
  padding-left: 20px;
  font-size: 16px;
  border-radius: 3px;
}

.inputForm > label {
  font-size: 20px;
  font-weight: bold;
}

.btnDisplay {
  display: flex;
  justify-content: flex-end;
}

.updateBtn {
  height: 40px;
  width: 150px;
  max-width: 150px;
  background-color: #ff6e14;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.cancelBtn {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  margin-right: 10px;
  margin-left: 5px;
  cursor: pointer;
}
