{% extends 'base.html' %}
{% block content %}
    <h1>Déposer une annonce</h1>
    {% if confirmation %}
        <div style="
            height: 50px;
            background-color: lightgreen;
            margin-top: 50px;
            margin-left: 50px;
            margin-right: 50px;
            text-align: center;
            line-height: 50px;">
            Votre annonce à bien été pris en compte et attend d'être validé
        </div>
    {% endif %}
    <form method='POST' class="form"> {% csrf_token %}
        <div class="inputForm">{{form }}</div>
        <div style="display: flex; justify-content: center; margin-bottom:15px"><input type='submit' value='Enregistrer' class="updateBtn" /></div>
    <form>
{% endblock %}