{% extends 'base.html' %}
{% block content %}
    <div class="background"></div>
    <div class="searchForm">
        <form action="{% url 'articles:index' %}" method="GET">
            <div class="search_container">
                <select class="input margin" name="article_category">
                    <option value="" >Catégories</option>
                    {% for cat in category %}
                        <option value={{cat.id}}>{{cat.name}}</option>
                    {% endfor %}
                </select>
                <input class="input margin" type="text" name="article_name" placeholder="Que recherchez-vous ?" />
                <select class="input" name="article_town">
                    <option value="" >Villes</option>
                    {% for to in town %}
                        <option value={{to.id}}>{{to.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="submit_btn_container">
                <input class="submit_btn" type='submit' value='Rechercher' />
            </div>
        </form>
    </div>
    {% for article in articles %}
        <div>
            <h3>{{ article.title }}</h3>
            <p>{{ article.id }}</p>
            <a href={{article.get_absolute_url_detail}} >Voir le détail</a>
        </div>
        {% empty %}
            <p>Aucun article.</p>
    {% endfor %}
{% endblock %}
