<a href={{article.get_absolute_url_detail}}>
    <div class="articleCard" >
        <div style="margin: 10px 0px 20px 50px;">
            <div class="articleDetail">
                <h3>{{ article.title }}</h3>
                <p  style="margin-right: 20px;">{{article.category}}</p>
            </div>
            <div class="articleDetail">
                <p style="margin-left: 20px;">{{article.description | truncatechars:15}}</p>
                <p style="margin-right: 20px;">{{ article.timestamp }}</p>
            </div>
        </div>
    </div>
</a>