<head>
  {% load static %}
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet" media="screen" />
</head>
  <nav class="navbar">
    <div class="list leftList">
        <a class="mainBtn" href="{% url 'home' %}">LebonDjango</a>
        <a href="{% url 'articles:add' %}">
          <div class="adButton">
              <span class="adIcon">+</span> &nbsp
              Déposer une annonce
            </div>
        </a>
    </div>
    <div class="list rightList">
    {% if request.user.is_authenticated%}
      <div class="dropdown" style="float:right; margin-right: 50px;">
        <button class="dropbtn">{{request.user.username}}</button>
        <div class="dropdown-content">
          <a href="#">Profil</a>
          <a href="{% url 'user_ad' %}">Mes annonces</a>
          <a href="#">Annonces sauvegardées</a>
          <a href="{% url 'logout' %}">Déconnexion</a>
        </div>
      </div>
    {% else %}
            <a href="{% url 'login' %}">Se connecter</a>
    {% endif %}
  </nav>
