.searchForm {
  width: 700px;
  height: 200px;
  background-color: white;
  margin: -230px auto 0px auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.background {
  background-image: url('../img/search_background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
}
